/* Layout One */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Sacramento&display=swap');
.awgt-bg {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background: #4E8953;
	margin: 0 auto;
}
.awgt-content-wrapper {
    padding-bottom: 20px;
}
.awgt-content {
    max-width: 400px;
    transform: translateY(-300px) !important;
    margin: 0 auto;
}
.awgt-content p {
    font-family: 'Lobster', cursive !important;
    color: #D5E2D6 !important;
	letter-spacing: 3px;
    text-align: center;
    font-size: 58px !important;
    font-weight: bold !important;
    line-height: 72px !important;
    margin: 0 !important;
    -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    text-shadow: 1px 1px #4a744d, 2px 2px #4a744d, 3px 3px #4a744d, 4px 4px #4a744d, 5px 5px #4a744d, 6px 6px #4a744d, 7px 7px #4a744d, 8px 8px #4a744d, 9px 9px #4a744d, 10px 10px #4a744d, 11px 11px #4a744d, 12px 12px #4a744d, 13px 13px #4a744d, 14px 14px #4a744d, 15px 15px #4a744d, 16px 16px #4a744d, 17px 17px #4a744d, 18px 18px #4a744d, 19px 19px #4a744d, 20px 20px #4a744d, 21px 21px #4a744d, 22px 22px #4a744d, 23px 23px #4a744d, 24px 24px #4a744d, 25px 25px #4a744d, 26px 26px 6px #06520c;
}

/* Layout Two */
.awgt-content-wrapper.awgt-lay-two .awgt-bg {
    background-color: #f44336 !important;
    width: 100% !important;
    border-radius: 0;
}
.awgt-content-wrapper.awgt-lay-two .awgt-content p {
    font-family: 'Luckiest Guy', cursive !important;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121, 0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121, -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121, 0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgb(0 0 0 / 10%), 0 0 6px rgb(0 0 0 / 10%), 0 6px 3px rgb(0 0 0 / 30%), 0 12px 6px rgb(0 0 0 / 20%), 0 18px 18px rgb(0 0 0 / 25%), 0 24px 24px rgb(0 0 0 / 20%), 0 36px 36px rgb(0 0 0 / 15%) !important;
}


/* Layout Three */
.awgt-content-wrapper.awgt-lay-three .awgt-content p {
    font-family: 'Sacramento', cursive !important;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52), 0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92)!important;
    font-size: 80px !important;
    line-height: 70px !important;
}
.awgt-content-wrapper.awgt-lay-three .awgt-bg {
    background: #222 !important;
    background-image: repeating-linear-gradient(to bottom,transparent 7px,rgba(0, 0, 0, 0.8) 9px,rgba(0, 0, 0, 0.8) 13px,transparent 13px) !important;
    width: 100% !important;
    border-radius: 0;
}

/* Customize Panel - Panel Body */
.awgt-tab-controls .components-panel__body-toggle {
    flex-direction: row-reverse;
    justify-content: left;
    gap: 13px;
    background: rgb(0 0 139 / 0.1);
    border-bottom: 1px solid #fff;
}
.awgt-tab-controls .components-panel__body-toggle svg {fill: #00008B;}
.block-editor-block-inspector .components-panel__body > div {
    padding-top: 15px;
}
.awgt-compo-unit-control .components-input-control__container {
    max-width: 90px;
}
.awgt-tab-controls.awgt-tab-sizing .awgt-compo-unit-control {
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.awgt-tab-controls.awgt-tab-sizing .components-unit-control-wrapper,
.awgt-tab-controls.awgt-tab-sizing .components-base-control:not(:last-child) {
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px;
    margin-bottom: 0;
}
/* Customize Color Palette (no predefined colors) */
.awgt-color-palette-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.awgt-color-palette-wrap h2.components-heading {text-transform: uppercase;margin-bottom: 0;}

.awgt-color-palette-wrap button.components-color-palette__custom-color {
    min-width: 90px !important;
    max-height: 25px;
    border-radius: 3px;
}
.awgt-color-palette-wrap span.components-color-palette__custom-color-name {display: none;}
.awgt-color-palette-wrap span.components-color-palette__custom-color-value {
    display: inline-block;
    text-align: center;
    align-self: center;
    min-height: 18px;
}
/* Customize Radio Group */
.awgt-button-set {
    display: flex;
    gap: 10px;
}
.awgt-button-set button {
    background: transparent !important;
    border: none !important;
    box-shadow: 0 0 !important;
    padding: 0;
    height: 100%;
}
.awgt-button-set button[tabindex="0"] {
  position: relative !important;
}
.awgt-button-set button img {
  border: 2px solid transparent;
}
.awgt-button-set button[tabindex="0"] img {
  border: 2px solid #4caf50;
  border-radius: 2px;
}
.awgt-button-set button[tabindex="0"]:after {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 17px;
    height: 17px;
    background: #4caf50;
    border-radius: 50%;
    content: "L";
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    transform: scaleX(-1) rotate(-54deg);
    border: 1px solid #fff;
}
.awgt-button-set.awgt-button-set-full {
    flex-direction: column;
}
/* Alert Box */
.awgt-alert-content-wrap {
    padding: 20px;
    width: 100%;
}
legend.awgt-alert-icon svg {
    width: 25px;
    height: 25px;
    fill: #007cba;
}
fieldset.awgt-alert-box {
    position: relative;
    border: 1px solid #007cba;
    border-radius: 5px;
    background-color: transparent;
}
legend.awgt-alert-icon {
    margin-bottom: 5px !important;
    margin-left: 40px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.awgt-alert-content {
    color: #5a5a5a;
    padding: 0px 15px;
}
.awgt-alert-content p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px !important;
}
.awgt-alert-content a {
    text-decoration: none !important;
}
/* Alert Close Button */
button.awgt-alert-close {
    padding: 5px;
    background: transparent;
    position: absolute;
    right: 0;
    top: -17px;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border: 1px solid rgb(244 67 54 / 10%);
    transition: .3s;
}
button.awgt-alert-close > svg {
    width: 10px;
    height: 10px;
    fill: rgb(244 67 54 / 50%);
    transition: .3s;
}
button.awgt-alert-close:hover {
    border: 1px solid #f44336;
}
button.awgt-alert-close:hover svg {
    transform: rotate(90deg);
    fill: #f44336;
}

/* Layout - 2 */
fieldset.awgt-alert-box.awgt-alert-lay-2 {
    overflow: hidden;
}
fieldset.awgt-alert-box.awgt-alert-lay-2 legend.awgt-alert-icon {
    position: absolute;
    right: 25%;
    top: 25%;
    transform: translateX(-25%) translateY(-25%);
}
fieldset.awgt-alert-box.awgt-alert-lay-2 legend.awgt-alert-icon svg {
    opacity: .3;
}

/* Layout 3 */
fieldset.awgt-alert-box.awgt-alert-lay-3 legend.awgt-alert-icon {
    position: relative;
}
fieldset.awgt-alert-box.awgt-alert-lay-3 legend.awgt-alert-icon:before {
    position: absolute;
    left: -15px;
    top: -11px;
    content: "";
    border-style: solid;
    border-color: transparent transparent #004668 transparent;
    border-width: 0 0 23px 13px;
}
fieldset.awgt-alert-box.awgt-alert-lay-3 legend.awgt-alert-icon:after {
    position: absolute;
    left: -2px;
    top: -11px;
    content: "";
    border: 26px solid #007cba;
    border-top-width: 50px !important;
    border-bottom-width: 15px !important;
    border-bottom-color: transparent !important;
}
fieldset.awgt-alert-box.awgt-alert-lay-3 legend.awgt-alert-icon svg {
    fill: #fff !important;
    z-index: 9;
    filter: drop-shadow(0px 1px 1px #222);
}
fieldset.awgt-alert-box.awgt-alert-lay-3 .awgt-first-bold.awgt-alert-content {
    text-align: center;
}

/* Drop Cap */
.awgt-alert-content.awgt-drop-cap p:first-child:first-letter {
    font-size: 40px;
    font-weight: bolder;
    float: left;
    line-height: 1;
    padding-right: 10px;
}

/* First Bold */
.awgt-alert-content.awgt-first-bold > p > strong:first-child {
    color: #000;
    padding-right: 5px;
    line-height: 1;
}

/* Custom Icon Selector With RadioGroup */
.awgt-compo-icon-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.awgt-compo-icon-selector button svg {
    width: 20px;
    height: 20px;
}

/* Customize RadioGroup */
.awgt-radio-group-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
}
.awgt-tab-controls.awgt-tab-sizing .awgt-radio-group-wrap:not(:last-child) {
    border-bottom: 1px solid #efefef;
}
.awgt-radio-group-wrap > h2 {
    margin-bottom: 0;
}

/* Conditional Display */
.awgt-compo-hide {display: none !important;}

/* Conditional Opacity */
.awgt-compo-transparency {opacity: .5 !important;}

/* Customized Toggle Control (Icon) */
.awgt-icon-toggle .components-flex {
    justify-content: center;
    flex-direction: column-reverse;
    font-weight: bold;
}

/* Layout - 2 */
fieldset.awgt-alert-box.awgt-alert-lay-2 {
    overflow: hidden;
}
fieldset.awgt-alert-box.awgt-alert-lay-2 legend.awgt-alert-icon {
    position: absolute;
    right: 0;
    top: 25%;
    transform: translateY(-25%);
}
fieldset.awgt-alert-box.awgt-alert-lay-2 legend.awgt-alert-icon svg {
    opacity: .2;
}